.interactive-information {
  width: 89%;
  height: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0px;
  background-color: #eef1f1;
  text-align: center;
  .container {
    float: left;
    position: relative;
    width: 50%;
    height: 500px;
    .animation {
      height: 400px;
      width: 100%;
      position: absolute;
      canvas {
        position: absolute;
        margin-left: -200px;
      }
    }
    .tire-container {
      height: 290px;
      width: 100%;
      margin-top: 110px;
      position: absolute;
      img {
        width: 180px;
      }
    }
    p {
      width: 100%;
      text-align: center;
      margin-top: 400px;
    }
  }
}