doctype html
html
  head
    title Honda Developer Studio
    meta(http-equiv='Content-type' content='text/html; charset=UTF-8')
    link(rel='stylesheet', href='./styles/main.css')
    script(src='./js/honda_developer_studio.js')
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  body
    header
      ul
        li.navigation 
          a(src='#') About
        li.navigation
          a(src='#') Sign Up
        li.navigation
          a(src='#') Partners
        li.navigation
          a(src='#') Test Vehicles

    section.hero
      div.hero-one
        div.text
          p.small Your Inspiration Meets Honda Innovation
          p.large If you're ready to revolutionize the Honda driving experience you've come to the right place.

    section.about
      h1 About Honda Developer Studio
      div.animated-divider
      p.snippet 
        | The Honda Developer Studio launched in 2014 in partnership with 
        a(src='http://google.com') Honda Silicon Valley Labs
        |  (HSVL). This inaugural program is an initiative, resource center, and information portal for developers and entrepreneurs. We encourage you to sign up to keep tabs on the latest happenings with The Honda Developer Studio as we continue to expand.
      div.animated-divider

    section.sign-up
      div.content-wrapper
        h1 Sign Up to Stay Updated
        p This exciting initiative with independent developers, partners, and entrepreneurs is just getting started. Sign up now to stay up to date with the latest happenings, plus get first access to Honda developer news and releases.
      
        form(action='https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8' method='POST')
          div.left
            input(type='hidden' name='oid' value='00Di0000000ZD0f')
            input(type='hidden' name='retURL' value='http://')

            label(for='first_name') First Name*
            input(id='first_name' maxlength='40' name='first_name' size='20' type='text')

            label(for='last_name') Last Name*
            input(id='last_name' maxlength='80' name='last_name' size='20' type='text')

            label(for='email') Email*
            input(id='email' maxlength='80' name='email' size='20' type='text')

            label(for='company') Company*
            input(id='company' maxlength='40' name='company' size='20' type='text')

            label(for='city') City*
            input(id='city' maxlength='40' name='city' size='20' type='text')

            label(for='state') State/Province*
            input(id='state' maxlength='20' name='state' size='20' type='text')

          div.right
            span.platform What platform do you use?
            div.checkbox-container
              input(id='android' name='android' type='checkbox' value='1')
              label(for='android' class="platform") Android
            div.checkbox-container
              input(id='ios' name='ios' type='checkbox' value='1')
              label(for='ios' class="platform") iOS
            label(for='build') What do you want to build?
            textarea(name="textarea")
            label(for='comments') Additional Comments
            textarea(name="textarea")

            
            input(type='submit' name='submit' value="Sign Up")

        div.fine-print Completing this form will subscribe you to email updates and outreach from the Honda Developer Studio. You can unsubscribe at any time.
        div.required-text *Required
    
    section.development
      h1 Accelerate Your Development
      div.animated-divider
      p.snippet 
        | Together, we can do so much more. That's why we're so excited about our alliances with leading technology initiatives dedicated to improving the in-car experience. Honda is a founding member of the 
        a(href='') Open Automotive Alliance
        |  (OAA) and will be among the first to roll out Android Auto-equipped vehicles. We're also an exclusive partner with Apple CarPlay
      div.animated-divider
      div.partner-logos
        img(src='../assets/images/android-auto.png')
        img(src='../assets/images/apple-carplay.png')
        img(src='../assets/images/google-developer.png')
        img(src='../assets/images/open-automotive-alliance.jpg')
        img(src='../assets/images/apple-developer.png')

    section.driving-mode-animation
      div.phone
        div.screen
          div.app-icon
          span Driving Mode
        div.home-button

    section.test-vehicles
      h1 Where the Rubber Hits the Code
      div.animated-divider
      p.snippet Honda Silicon Valley Labs (HSVL) is offering exclusive access to its high-end test vehicles to select developers so you can experience real-time results and vehicle feedback as you build. Request access below to get into the driver's seat.
    
    section.interactive-information
      div.container
        div.tire-container
          img(src="../assets/images/HSVLtestcar.png")
        div(class="spinner group" id="interactive-1")
        p HSVL Developer Studio Vehicle
      div.container
        div.tire-container
          img(src="../assets/images/AAtestcar.png")
        div(class="spinner group" id="interactive-2")
        p android auto Demo Vehicle

    section.vehicle-request
      h1 Get Into the Drivers Seat
      div.content-wrapper
        form(action='https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8' method='POST')
            div.left
              input(type='hidden' name='oid' value='00Di0000000ZD0f')
              input(type='hidden' name='retURL' value='http://')

              label(for='first_name') First Name*
              input(id='first_name' maxlength='40' name='first_name' size='20' type='text')

              label(for='last_name') Last Name*
              input(id='last_name' maxlength='80' name='last_name' size='20' type='text')

              label(for='email') Email*
              input(id='email' maxlength='80' name='email' size='20' type='text')

              label(for='company') Company*
              input(id='company' maxlength='40' name='company' size='20' type='text')

              label(for='city') City*
              input(id='city' maxlength='40' name='city' size='20' type='text')

              label(for='state') State/Province*
              input(id='state' maxlength='20' name='state' size='20' type='text')

            div.right
              span.platform What platform do you use?
              div.checkbox-container
                input(id='android' name='android' type='checkbox' value='1')
                label(for='android' class="platform") Android
              div.checkbox-container
                input(id='ios' name='ios' type='checkbox' value='1')
                label(for='ios' class="platform") iOS
              label(for='build') What do you want to build?
              textarea(name="textarea")
              label(for='comments') Additional Comments
              textarea(name="textarea")

              
              input(type='submit' name='submit' value="Request Vehicle")

          div.fine-print Completing this form will subscribe you to email updates and outreach from the Honda Developer Studio. You can unsubscribe at any time.
          div.required-text *Required

    section.twitter

    footer
      div.logos
        img(src='')
        img(src='')
        img(src='')
      div.legal
        p.copyright Copyright 2014 Honda Developer Studio. All Rights Reserved.
        p.links Privacy Policy | Terms of Service | Honda | HSVL
