doctype html
html
  head
    title Honda Developer Studio
    meta(http-equiv='Content-type' content='text/html; charset=UTF-8')
  body
    form(action='https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8' method='POST')
      input(type='hidden' name='oid' value='00Di0000000ZD0f')
      input(type='hidden' name='retURL' value='http://')

      label(for='first_name') First Name
      input(id='first_name' maxlength='40' name='first_name' size='20' type='text')

      label(for='last_name') Last Name
      input(id='last_name' maxlength='80' name='last_name' size='20' type='text')

      label(for='email') Email
      input(id='email' maxlength='80' name='email' size='20' type='text')

      label(for='company') Company
      input(id='company' maxlength='40' name='company' size='20' type='text')

      label(for='city') City
      input(id='city' maxlength='40' name='city' size='20' type='text')

      label(for='state') State/Province
      input(id='state' maxlength='20' name='state' size='20' type='text')

      label(for='emailOptOut') Email Opt Out
      input(id='emailOptOut' name='emailOptOut' type='checkbox' value='1')

      label(for='Campaign_ID') Campaign
      select(id='Campaign_ID' name='Campaign_ID')
        option(value='') --None--

      label(for='lead_source') Lead Source
      select(id='lead_source' name='lead_source')
        option(value='') --None--
        option(value='Advertisement') Advertisement
        option(value='Employee Referral') Employee Referral
        option(value='External Referral') External Referral
        option(value='Partner') Partner
        option(value='Public Relations') Public Relations
        option(value='Seminar - Internal') Seminar - Internal
        option(value='Seminar - Partner') Seminar - Partner
        option(value='Trade Show') Trade Show
        option(value='Web') Web
        option(value='Word of mouth') Word of mouth
        option(value='Other') Other
        option(value='Phone Inquiry') Phone Inquiry
        option(value='Partner Referral') Partner Referral
        option(value='Purchased List') Purchased List

      input(type='submit' name='submit')
